@import "../var";
.form {
	grid-template-columns: repeat(2, 1fr);
	.form__field {
		font-size: $font-size-tablet;
		line-height: $line-height;
		padding-left: $padding-text-tablet;
	}
}
.arrow-next {
	right: 50px;
}
.arrow-prev {
	left: 50px;
}
