$font-size-mobile: 13px;
$font-size-tablet: 14px;
$padding-text: 10px;
$line-height: 16px;
$big-input: 433px;
$medium-input: 212px;
$small-input: 100px;
$zip-input: calc(#{$big-input} - 266px);
$small-margin: 10px;
$big-margin: 20px 20px 0 0;
$common-maring: 20px 20px 0 0;
$button-background: #03dac6;
$button-text-color: #fff;