@import "./var";
@import "./mixins";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
.container {
	margin: 0 auto;
	@include desktop {
		max-width: 1340px;
	}
}
.header__title {
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	margin: 15px 0 15px 0;
}
.errors {
	list-style-type: none;
	color: red;
}

.products {
	position: relative;
	.product {
		width: 320px;
		height: 504px;
		padding: 10px;
		border: 1px solid #f5f5f5;
		&__image {
			width: 99%;
			height: 300px;
			margin: 0 auto;
			background-color: #f5f5f5;
		}
		&__price {
			display: flex;
			flex-direction: column;
			font-size: 18px;
			margin-top: 10px;
			margin-bottom: 15px;
			&--previous {
				color: #757575;
				text-decoration: line-through;
			}
			&--current {
				color: red;
				font-weight: bold;
			}
		}
		&__description {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 15px;
		}
		&__button {
			width: 100%;
			height: 48px;
			border-radius: 4px;
			background-color: #000;
			color: #fff;
			cursor: pointer;
			transition: 0.2;
		}
	}
}
.form {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	.form__field-container {
		input {
			width: 100%;
		}
	}
	.form__field {
		border: 1px solid #d6d6d6;
		border-radius: 4px;
		height: 48px;

		font-size: $font-size;
		line-height: $line-height;
		padding-left: 15px;

		&::placeholder {
			font-weight: 400;
			font-size: $font-size;
			line-height: $line-height;
			color: #1a1a1a;
		}
	}

	.street-container {
		display: flex;
		flex-direction: row;
		.field-street,
		.field-building {
			margin-right: 10px;
		}
		.field-building,
		.field-house {
			flex: 0 0 20%;
		}
	}
	.city-container {
		display: flex;
		flex-direction: row;

		.field-zip {
			flex: 0 0 30%;
			margin-right: 10px;
		}
	}

	.field-select {
		width: 100%;
	}

	.form__button-container {
		grid-area: 4 / 1 / 4 / 4;
		text-align: center;
		margin: 30px;
		.form__button {
			width: 70px;
			height: 48px;
			left: 635px;
			top: 224px;
			border-radius: 4px;
			border: none;
			background-color: $button-background;
			color: $button-text-color;
			transition: 0.2s;
			cursor: pointer;
			&:hover {
				background-color: limegreen;
			}
		}
	}
	.errors {
		grid-area: 3 / 1 / 3 / 4;
		text-align: center;
	}
}

.arrow-next,
.arrow-prev {
	position: absolute;
	font-size: 2px;
	color: black;
	background-color: #f5f5f5;
	width: 40px;
	height: 40px;
	bottom: 0;
	top: 0;
	margin: auto 0;

	&::after {
		font-size: 20px;
		font-weight: bold;
	}
}
.arrow-next {
	right: -60px;
}
.arrow-prev {
	left: -60px;
}
