.form {
	grid-template-columns: repeat(3, 1fr);
	.form__button-container{
		grid-area: 3/ 1/ 3/ 4;
	}
	.form__field {
		font-size: $font-size-mobile;
		line-height: $line-height;
		padding-left: $padding-text-mobile;
	}
}
.arrow-next {
	right: -60px
}
.arrow-prev {
	left: -60px
}
